# Chainora protocol addresses
VITE_CHAINORA_REGISTRY_ADDRESS=0x1e2538ba2824205b83c7950db009c572ee76ac2b
VITE_CHAINORA_FACTORY_ADDRESS=0x3ccd9dee4b18b562084e46368c2e2628814278d7
VITE_CHAINORA_POOL_IMPLEMENTATION_ADDRESS=0xd2aa7629398e73d7451b41cffe828fb06f210b54
VITE_CHAINORA_STABLECOIN_ADDRESS=0x79abce4dc09dce832361090d35ba8ae051cd1fd6

# Initia username lookup
VITE_INITIA_API_URL=https://api.testnet.initia.xyz
VITE_ENABLE_INITIA_USERNAME_LOOKUP=true

# Chainora display config
VITE_CHAINORA_CURRENCY_SYMBOL=tCNR
VITE_CHAINORA_CONTRIBUTION_SYMBOL=tcUSD
VITE_CHAINORA_TOKEN_DECIMALS=18
VITE_CHAINORA_RPC_URL=http://157.66.100.120:8545/
VITE_CHAINORA_CHAIN_ID=1123337227327254
